jupyter
nbconvert
geopandas
geopy
descartes
contextily
folium
GeoAlchemy2
ipyleaflet
seaborn
flask
bokeh
psycopg2
itables
ipywidgets
SQLAlchemy 
psycopg2
pandas
shapely
requests
numpy
plotly
branca
dash
dash_dangerously_set_inner_html

